@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --foreground: #171717;
  --col1: #ffdb5b;
  --col2: #3b3b3b;
  font-family: "CashMarket", Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: "CashMarket";
  src: url("/CashMarket.ttf");
}

.icon {
  width: 50px;
  height: 50px;
}